.git
.gitignore
.idea
.tools-version

# env
.env*
/.bundle
/vendor/bundle
/storage/*
!/storage/.keep

# Backend
*.gem
/.config
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/
*.rbc
.rspec
/coverage/
/spec/tmp
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

config/master.key

# Frontend
node_modules